__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.so

venv/
.env/
.env.*  

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

config/aws_credentials.json
secret_keys/
.env
